<style>
  .panel-heading .no-after a:after {
    content: ""
  }
</style>

<h2 class="title">Find Conferences</h2>

  <div class="row">
    <div class="col-sm-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a class="toggle" data-toggle="collapse" data-target="#collapseOne">
					Filter
				</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">
				<div class="panel-body">

				</div>
			</div>
		</div>
    </div>
    <div class="col-sm-9">
        <input id="search" class="form-control" placeholder="Filter..." data-bind="value: filter"></input>
        <br />
      	<div class="panel panel-default" data-bind="foreach: filteredConferences()">
          <div class="panel-heading">
            <h3 class="panel-title no-after">
              <a data-bind="text: title, attr: { href: '/conference#id=' + _id }"></a>
            </h3>
          </div>
      		<div class="panel-body">
        		<div class="media">
          		<div class="media-left">
                <img class="media-object" data-bind="attr: {src: image}">
          		</div>
          		<div class="media-body" data-bind="html: description">
          		</div>
        		</div>
      		</div>
      	</div>
    		<nav>
        		<ul class="pagination">
          			<li data-bind="css: {disabled: filteredConferences().currentPage() == 1}">
            			<a href="#" aria-label="Previous" data-bind="click: filteredConferences().movePrevious">
              				<span aria-hidden="true">&laquo;</span>
            			</a>
          			</li>
                    <!-- ko foreach: buttons -->
      				<li data-bind="css: {active: $root.filteredConferences().currentPage() == $data}">
						<a href="#" data-bind='click: $root.goToPage, text: $data'></a></li>
					</li>
                    <!-- /ko -->
          			<li data-bind="css: {disabled: filteredConferences().currentPage() == filteredConferences().pageCount()}">
            			<a href="#" aria-label="Next" data-bind="click: filteredConferences().moveNext">
              				<span aria-hidden="true">&raquo;</span>
            			</a>
          			</li>
        		</ul>
      		</nav>
		</div>
	</div>
