<style>
  .panel-heading .no-after a:after {
    content: ""
  }
</style>

<h2 class="title">Find Conferences</h2>

  <div class="row">
    <div class="col-sm-3">
		<div class="filters panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a class="toggle" data-toggle="collapse" data-target="#collapseOne">
					Filter
				</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">
				<div class="panel-body">
          <h4>Industry</h4>
          <div><label class="filterbox"><input type="checkbox" value="Accommodation and food services" data-bind="checked: industryCheckBoxes"></input> Accommodation and food services</label></div>
          <div><label class="filterbox"><input type="checkbox" value="Agriculture" data-bind="checked: industryCheckBoxes"></input> Agriculture</label></div>
          <div><label class="filterbox"><input type="checkbox" value="Business, building and other support services" data-bind="checked: industryCheckBoxes"></input> Business, building and other support services</label></div>
          <div><label class="filterbox"><input type="checkbox" value="Construction" data-bind="checked: industryCheckBoxes"></input> Construction</label></div>
          <div><label class="filterbox"><input type="checkbox" value="Educational services" data-bind="checked: industryCheckBoxes"></input> Educational services</label></div>
          <div><label class="filterbox"><input type="checkbox" value="Finance, insurance, real estate and leasing" data-bind="checked: industryCheckBoxes"></input> Finance, insurance, real estate and leasing</label></div>
          <div><label class="filterbox"><input type="checkbox" value="Forestry, fishing, mining, quarrying, oil and gas" data-bind="checked: industryCheckBoxes"></input> Forestry, fishing, mining, quarrying, oil and gas</label></div>
          <div><label class="filterbox"><input type="checkbox" value="Goods-producing sector" data-bind="checked: industryCheckBoxes"></input> Goods-producing sector</label></div>
          <div><label class="filterbox"><input type="checkbox" value="Health care and social assistance" data-bind="checked: industryCheckBoxes"></input> Health care and social assistance</label></div>
          <div><label class="filterbox"><input type="checkbox" value="Information, culture and recreation" data-bind="checked: industryCheckBoxes"></input> Information, culture and recreation</label></div>
          <div><label class="filterbox"><input type="checkbox" value="Utilities" data-bind="checked: industryCheckBoxes"></input> Utilities</label></div>
          <div><label class="filterbox"><input type="checkbox" value="Manufacturing" data-bind="checked: industryCheckBoxes"></input> Manufacturing</label></div>
          <div><label class="filterbox"><input type="checkbox" value="Professional, scientific and technical services" data-bind="checked: industryCheckBoxes"></input> Professional, scientific and technical services</label></div>
          <div><label class="filterbox"><input type="checkbox" value="Public administration" data-bind="checked: industryCheckBoxes"></input> Public administration</label></div>
          <div><label class="filterbox"><input type="checkbox" value="Other services" data-bind="checked: industryCheckBoxes"></input> Other services</label></div>
          <div><label class="filterbox"><input type="checkbox" value="Services-producing sector" data-bind="checked: industryCheckBoxes"></input> Services-producing sector</label></div>
          <div><label class="filterbox"><input type="checkbox" value="Trade" data-bind="checked: industryCheckBoxes"></input> Trade</label></div>
          <div><label class="filterbox"><input type="checkbox" value="Transportation and warehousing" data-bind="checked: industryCheckBoxes"></input> Transportation and warehousing</label></div>
				</div>
			</div>
		</div>
    </div>
    <div class="col-sm-9">
        <input id="search" class="form-control" placeholder="Search..." data-bind="value: filter"></input>
        <br />
        <div class="panel panel-default" data-bind="visible: conferences().length == 0">
          <div class="panel-body">
            Loading...
          </div>
        </div>

      	<div class="panel panel-default" data-bind="foreach: filteredConferences.currentPageData">
          <div class="panel-heading">
            <h3 class="panel-title no-after">
              <a data-bind="text: title, attr: { href: '/conference#id/' + _id }"></a>
            </h3>
          </div>
      		<div class="panel-body">
        		<div class="media">
          		<div class="media-left">
                <img class="conf-logo-sm media-object" data-bind="attr: {src: image}">
          		</div>
          		<div class="media-body" data-bind="html: description">
          		</div>
        		</div>
      		</div>
      	</div>
    		<nav>
        		<ul class="pagination">
          			<li data-bind="css: {disabled: filteredConferences.currentPage() == 1}">
            			<a href="#" aria-label="Previous" data-bind="click: filteredConferences.movePrevious">
              				<span aria-hidden="true">&laquo;</span>
            			</a>
          			</li>
                    <!-- ko foreach: buttons -->
      				<li data-bind="css: {active: $root.filteredConferences.currentPage() == $data}">
						<a href="#" data-bind='click: $root.goToPage, text: $data'></a></li>
					</li>
                    <!-- /ko -->
          			<li data-bind="css: {disabled: filteredConferences.currentPage() == filteredConferences.pageCount()}">
            			<a href="#" aria-label="Next" data-bind="click: filteredConferences.moveNext">
              				<span aria-hidden="true">&raquo;</span>
            			</a>
          			</li>
        		</ul>
      		</nav>
		</div>
	</div>
