<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img data-bind="attr: { src: conf.imageUrl }"></img>
    </div>
    <div class="col-md-8">
      <h3 data-bind="text: conf().name"></h3>
      <h4 data-bind="text: conf().topic"></h4>
    </div>
  </div>
  <div class="row">
  </div>
</div>
