<div class="jumbotron">
  <div class="col-xs-8">
    <h1 data-bind="text: conf().name"></h1>
    <p data-bind="text: conf().topic"></p>
  </div>
  <div class="col-xs-4">
    <img data-bind="attr: { src: conf().imageUrl }"></img>
  </div>
  <div class="clearfix"></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Venue</h3>
  </div>
  <div class="panel-body" data-bind="template: { name: venueTemplateToUse }">
  </div>
</div>

<script type="text/html" id="venue-template">
  <address>
  <strong data-bind="text: conf().venue().name"></strong><br>
  <span data-bind="text: conf().venue().location().line1"></span><br>
  <span data-bind="text: conf().venue().location().line2"></span><br>
</address>
</script>

<script type="text/html" id="no-venue-template">
  <p>No venue selected yet.</p>
</script>
