<div class="jumbotron">
  <div class="col-xs-8">
    <h1 data-bind="text: conf().title"></h1>
    <p data-bind="text: conf().topic"></p>
  </div>
  <div class="col-xs-4">
    <img data-bind="attr: { src: conf().image }"></img>
  </div>
  <div class="clearfix"></div>
</div>

<div class="panel panel-default col-md-6" data-bind="with: conf().venue">
  <div class="panel-body" data-bind="template: { name: $root.venueTemplateToUse }">
  </div>
</div>

<div class="panel panel-default col-md-5 pull-right" data-bind="with: conf().time">
  <div class="panel-body" data-bind="template: { name: $root.dateTemplateToUse }">
  </div>
</div>

<div class="clearfix"></div>

<script type="text/html" id="venue-template">
  <address>
    <strong data-bind="text: name"></strong><br>
    <span data-bind="text: location().line1"></span><br>
    <span data-bind="text: location().line2"></span><br>
  </address>
</script>

<script type="text/html" id="no-venue-template">
  <p>No venue selected yet.</p>
</script>

<script type="text/html" id="date-template">
  <p><span data-bind="text: start"></span> - <span data-bind="text: end"></span></p>
</script>

<script type="text/html" id="no-date-template">
  <p>No date set yet.</p>
</script>
