<div class="jumbotron">
  <div class="col-xs-8">
    <h1 data-bind="text: conf().title"></h1>
    <p data-bind="text: conf().topic"></p>
  </div>
  <div class="col-xs-4">
    <img data-bind="attr: { src: conf().image }"></img>
  </div>
  <div class="clearfix"></div>
</div>

<div class="panel panel-default">
  <div class="panel-body" >
    <div class="col-md-9">
      <h4>Description</h4>
      <p data-bind="text: conf().description"></p>
      <p>
        <strong>Tags: </strong>
        <span data-bind="text: conf().tagsJoined"></span>
      </p>
    </div>
    <div class="col-md-3">
      <h4>Where</h4>
      <div data-bind="template: { name: venueTemplateToUse }">
      </div>
      <div data-bind="template: { name: dateTemplateToUse }">
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
    <div class="panel-body" data-bind="html: conf().body">
    </div>
</div>

<div class="panel panel-default">
  <ul class="list-group" data-bind="foreach: conf().itinerary">
    <li class="list-group-item"><span data-bind="text: time"></span>: <span data-bind="text: title"></span></li>
  </ul>
</div>

<script type="text/html" id="venue-template">
  <address data-bind="with: conf().venue">
    <strong data-bind="text: name"></strong><br>
    <span data-bind="text: location().line1"></span><br>
    <span data-bind="text: location().line2"></span><br>
  </address>
</script>

<script type="text/html" id="no-venue-template">
  <p>No venue selected yet.</p>
</script>

<script type="text/html" id="date-template">
  <p data-bind="text: conf().time"></p>
</script>

<script type="text/html" id="no-date-template">
  <p>No date set yet.</p>
</script>
