<link href="/vendor/nvd3/nv.d3.css" rel="stylesheet"></link>

<h1 class="title">Industry Growth</h1>

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  Warning: The server is under heavy load, please be patient.
</div>


<h3 data-bind="text: summary"></h3>
<hr />

<h4 data-bind="text: timeTitle"></h3>
<div class="time"><svg id="time_lapse"></svg></div>

<h4 data-bind="text: pieTitle"></h3>
<div class="row">
	<div class="col-md-3">
		<div style="height: 300px;" class="pie"><svg id="pie_chart"></svg></div>
	</div>
	<div class="col-md-9">
		<div style="height: 300px;" class="bar"><svg id="year_chart"></svg></div>
	</div>
</div>
