<link href="/vendor/nvd3/nv.d3.css" rel="stylesheet"></link>

<h1>Industry Growth</h1>
<h3 data-bind="text: summary"></h3>
<hr />

<div><svg id="time_lapse"></svg></div>
<h4 data-bind="text: pieTitle"></h3>
<div><svg id="pie_chart"></svg></div>
<div><svg id="year_chart"></svg></div>
