<div class="starfield">
	<h1 class="start">Conference planning and organizing.</h1>

	<h1>Build <span style="color:#fc2">★</span> Network <span style="color:#fc2">★</span> Grow</h1><br /><br />
	<p><a class="btn btn-primary btn-lg tour" role="button">New here? Take a tour.</a></p>
	<br />
	<div class="c" style="max-width: 600px; margin: 0 auto;">
		<h2 style="text-align: center;">Or, search for conferences now:</h2>
	    <div class="input-group">

	      <input type="text" class="form-control" placeholder="Search for...">
	      <span class="input-group-btn">
	        <button id="search" class="btn btn-default" type="button">Go!</button>
	      </span>
	    </div><!-- /input-group -->
			<br />
		<p style="text-align: center;">(You can also <a href="/browse">browse all listings</a> or <a href="/growth">view labour market statistics</a> to get inspired!)</p>
	  </div><!-- /.col-lg-6 -->

	
</div>
