<div class="container">
  <form action='/signup' method='post' class="form-create">
    <h2 class="form-create-heading">Create Account</h2>
    <hr />
    <p>Email</p>
    <input type="text" name='email' class="form-control" placeholder="Email" required autofocus>
    <p>Password</p>
    <input type="password" name='password' class="form-control" placeholder="Password" required>
    <input type="password" name='re-password' class="form-control" placeholder="Re-enter Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
  </form>
</div> <!-- /container -->
