<script type="text/html" id="venue-template">
    <li>
        <h3 data-bind='text: name'></h3></li>
        Location: <span data-bind="text: location"></span>
    </li>
</script>

<div id='venues'>
    <ul data-bind="template: { name: 'venue-template', foreach: venueArray }">
    </ul>
</div>
